
    <%- include('../partial-views/header') %>
  

    <h1>Dev Skills List</h1>
    
    <ul>

        <% skills.forEach(skill => { %>
            <form 
            action="/skills/<%= skill.id %>?_method=DELETE"
            class="delete-form"
            method="post"
            >
                <button type="submit">X</button>
            </form>
            <li><a href="skills/<%= skill.id %>"><%= skill.name %></a></li>
        <%}) %>

    </ul>

    <a href="/skills/new">Learn New Skill</a>

    <%- include('../partial-views/footer') %>
